

.page-header {
    font-size: 5.25rem;
    font-weight: 300;
    color: #1f2937;
    padding-top: 10.5rem;
    padding-bottom: 5.5rem;
    margin: 0;
}

body {
    padding-top: 1rem;
}

.nav-bar {
    height: 5rem;
}

@media (prefers-color-scheme: dark) {
    .page-header {
        color: #e5e7eb;
    }
}

th[data-sort] {
    cursor: pointer;
    position: relative;
}

th[data-sort]:hover {
    background-color: #f0f0f0;
}

th[data-sort]::after {
    content: ' \2195';
    position: absolute;
    right: 10px;
    opacity: 0.5;
}

th[data-sort].desc::after {
    content: ' \25BC';
}
